{% extends 'registration/base.html' %}
{% load static %}


{% block content %}

{#    <div class="hero">#}

    <h2 class="index-h2"> Carolina Chat Is Awaiting Your Presence </h2>

    <div class="brochure-buttons">
        <button class="btn btn-secondary" type="submit"><a href="{% url 'account:login' %}">Log In </a></button>
        <button class="btn btn-secondary" type="submit"><a href="{% url 'account:signup' %}">Sign Up For A New Account</a></button>
    </div>
{#    </div>#}

{% endblock %}

