{#The list of messages should update with new messages without refreshing the page. Hint: use a setInterval to fetch #}
{#your json list every 30 seconds or so.#}

{#I should be able to create messages that are tagged with the time and my username#}

{#build out html to have a box that the chat ajax request data objects populate#}
 {% extends "base.html" %}
{%  load static %}
    <title>Let the Good Ideas Roll</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% block content %}



{#exampleFormControlTextarea2#}


<div class="container">
{#<form class="add_message_form">#}
{#  <div class="row justify-content-md-center form-group">#}
{#    <div class="col col-lg-6">#}
{#        <input  class="user-message"   type="text" name="words" id="message_of_user"/>#}\
{#        <form class="add_message_form">#}
{#  <label for="exampleFormControlTextarea2">Create Your Message</label>#}
{#            <textarea class="form-control rounded-0" id="message_of_user" rows="3"></textarea>#}
{#         <input class="post-button" id="thePost"  type="submit" value="Add Message"/>#}
{#        </form>#}
{#</div>#}


{#<div class="md-form">#}
{#  <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>#}
{#  <label for="form7">Material textarea</label>#}
{#</div>#}
<!--Textarea with icon prefix-->
{#<div class="md-form">#}
{#  <i class="fas fa-pencil-alt prefix"></i>#}
{#  <textarea id="form10" class="md-textarea form-control" rows="3"></textarea>#}
{#  <label for="form10">Icon Prefix</label>#}
{#</div>#}
{#    </div>#}

{#    <div class="col col-lg-2">#}
{#      <input class="post-button" id="thePost"  type="submit" value="Add Message"/>#}
{#    </div>#}
{#  </div>#}
    <form class="add_message_form">
      <div class="row justify-content-md-center form-group">
{#        <input  class="user-message"   type="text" name="words" id="message_of_user"/>#}
          <textarea class="user-message form-control rounded-0" id="message_of_user" rows="3"></textarea>
        <input class="post-button" id="thePost"  type="submit" value="Add Message"/>
      </div>
    </form>


{#</div>#}

<div>
    <ul>
        <li></li>

    </ul>
</div>



{%  csrf_token %}


{% endblock content %}















