{#The list of messages should update with new messages without refreshing the page. Hint: use a setInterval to fetch #}
{#your json list every 30 seconds or so.#}

{#I should be able to create messages that are tagged with the time and my username#}

{#build out html to have a box that the chat ajax request data objects populate#}
{% extends "base.html" %}
{% load humanize %}
{% load static %}
<title>Let the Good Ideas Roll</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% block content %}


    <div class="container whole">




    <form class="add_message_form">
        <div class="row justify-content-md-center form-group input-message">

            <textarea class="user-message form-control rounded-0" id="message_of_user" rows="3"></textarea>
            <input class="post-button" id="thePost" type="submit" value="Add Message"/>
        </div>
    </form>




    <div class="message-area-printout">
        <ul>
            <li></li>

        </ul>
    </div>

    </div>



    {% csrf_token %}


{% endblock content %}















